.header {
  width: 50vw;
  height: 10vh;
  background: white;
  margin-left: 5vw;
  border-radius: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 1vw 1vh 3vw rgba(131, 131, 131, 0.5);
          box-shadow: 1vw 1vh 3vw rgba(131, 131, 131, 0.5);
  font-weight: 700;
  font-size: 2.1vmax;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.data .chart {
  width: 50vw;
  height: 80vh;
  background: white;
  margin: 3vh;
  border-radius: 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.data .chart .header-chart {
  font-size: 2vmax;
  font-weight: 500;
  margin-top: 2vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.data .chart .chart1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 2;
  grid-row: 2;
  height: 40vh;
}

.data .chart .chart2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 3;
  grid-row: 3;
  height: 40vh;
}

.data .details {
  width: 50vw;
  height: 80vh;
  background: white;
  margin: 3vh;
  border-radius: 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 0.5fr;
      grid-template-columns: 2fr 1fr 0.5fr;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.5vmax;
}

.data .details .header-details {
  font-size: 2vmax;
  font-weight: 500;
  margin-top: 2vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.data .details .detail1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  text-align: right;
  margin-left: 1rem;
  margin-right: 1rem;
}

.data .details .detail1 li::marker {
  font-size: 2vmax;
}

.data .details .detail2 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  text-align: right;
  margin-left: 1rem;
  margin-right: 1rem;
}

.data .details .detail2 li::marker {
  font-size: 2vmax;
}

.data .details .detail3 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
  text-align: right;
  margin-left: 1rem;
  margin-right: 1rem;
}

.data .details .detail3 li::marker {
  font-size: 2vmax;
}

.data .details .detail4 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 5;
  grid-row: 5;
  text-align: right;
  margin-left: 1rem;
  margin-right: 1rem;
}

.data .details .detail4 li::marker {
  font-size: 2vmax;
}

.data .details .detail1value {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  font-weight: 600;
  font-size: 3vmax;
}

.data .details .detail2value {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
  font-weight: 600;
  font-size: 3vmax;
}

.data .details .detail4value {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  grid-row: 5;
  font-weight: 600;
  font-size: 3vmax;
}

.data .details .detail1unit {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  font-weight: 600;
  font-size: 3vmax;
}

.data .details .detail2unit {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
  font-weight: 600;
  font-size: 3vmax;
}

.data .details .detail3month {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  -ms-grid-row: 4;
  grid-row: 4;
  font-weight: 600;
  font-size: 3vmax;
}

.data .details .detail4unit {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 5;
  grid-row: 5;
  font-weight: 600;
  font-size: 3vmax;
}
/*# sourceMappingURL=PredictionRaport.css.map */